$orange: #ffe0b2;
$darker-orange: #ffb74d;
$darkiest-orange: #fb8c00;
$dark: #81370f;
$regTrainsition: 0.6s;

@mixin RegButton($radius, $border-color) {
	background: transparent;
	border: 4px solid $border-color;
	border-radius: $radius;
	color: $border-color;
	font-family: ch;
	font-size: 25px;
	cursor: pointer;
	transition: $regTrainsition;
	&:focus {
		outline: none;
	}
	&:hover {
		color: #fff;
		background-color: $border-color;
	}
	&:active {
		color: #fff;
		background-color: $border-color;
	}
}

.singleProductPage {
	padding-top: 10rem;
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-column-gap: 3rem;
	font-family: ch;
	color: $dark;
}

//single Product description
.description {
	display: flex;
	flex-direction: column;
	.section-a {
		& > * {
			margin-bottom: 10px;
		}
	}

	.name {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		h1 {
			font-size: 50px;
			flex-grow: 2;
		}
		i {
			margin: auto auto auto 20px;
			cursor: pointer;
			flex-grow: 1;
		}
		p {
			flex-grow: 1;
			padding: 1rem;
			background-color: $darker-orange;
			text-align: center;
			border-radius: 25px;
			border: 2px solid $darkiest-orange;
			vertical-align: center;
			margin: 1rem 0;
			color: $dark;
			font-size: 20px;
		}
	}
	.productmaterial {
		display: flex;
	}
	h1 {
		font-size: 50px;
	}
	hr {
		border: 1px solid $orange;
	}
	.section-b {
		& > * {
			margin-bottom: 10px;
		}
		label {
			margin-right: 1rem;
			font-size: 25px;
		}
		//select option styling
		.color {
			select {
				font-size: 25px;
				font-family: ch;
				background-color: transparent;
				color: $darkiest-orange;
				border-radius: 25px;
				border: 4px solid $darkiest-orange;
				outline: 0;
				padding: 0 1rem;
				&:hover {
					background-color: $darkiest-orange;
					color: #fff;
					transition: $regTrainsition;
				}
			}
		}

		.quantity {
			input[type='number'] {
				@include RegButton(25px, $darkiest-orange);
				padding: 5px 1rem;
				width: 30%;
				&::-webkit-inner-spin-button,
				::-webkit-outer-spin-button {
					appearance: textfield;
					cursor: pointer;
					display: block;
					width: 8px;
					color: #333;
					text-align: center;
					position: relative;
				}
			}
		}
		.addToCart {
			input[type='button'] {
				@include RegButton(25px, $darkiest-orange);
				padding: 5px 1rem;
			}
		}
	}
}

//single product carousel
.singleCarousel {
	.slick-thumb {
		width: 7rem;
		height: 7rem;
		border-radius: 50%;
		transition: all 0.6s;
	}
}

.singleCarouselImg {
	img {
		width: 100%;
		height: auto;
	}
}
